.idea

#kafka-basics
kafka-basics/.mvn
kafka-basics/HELP.md
kafka-basics/kafka-basics.iml
kafka-basics/mvnw
kafka-basics/mvnw.cmd
kafka-basics/target

#kafka-producer-wikimedia
kafka-producer-wikimedia/.mvn
kafka-producer-wikimedia/HELP.md
kafka-producer-wikimedia/kafka-producer-wikimedia.iml
kafka-producer-wikimedia/mvnw
kafka-producer-wikimedia/mvnw.cmd
kafka-producer-wikimedia/target